fastapi
uvicorn
pydantic>=2.0.0
pymongo
motor
sqlalchemy
sqlalchemy[asyncio]
psycopg2-binary
langchain
langgraph
langchain_openai
langchain_community
python-dotenv>=1.0.0
tavily-python
loguru
pytest
pytest-cov
pytest-asyncio
pre-commit
